ul,ol{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
#xxx{
    display: block;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
  }
#xxx:active{
    cursor: default;
}
.actions{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.icon {
    width: 1em; 
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.actions svg{
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s;
    margin: 0 10px;
    fill: black;
}
.actions svg.active{
    fill: red;
    transform: scale(1.2);
}
.style{
    position: relative;
    margin-left: 20px;
    margin-top: 70px;
    display: inline-block;
}
.style input{
    display: block;
}
.style p{
    left: 20px;
    position: absolute;
    bottom: -170px;
}
input[type=range]{
    transform: rotate3d(0,0,1,-90deg);
    border-radius: 10px; 
    -webkit-appearance: none;
    position: absolute;
    left: -40px;
    bottom: -90px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}    
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}